:root {
  --verde: #00d437;
  --branco: #fff;
  --preto: #000000;
  --cinza: #cfcfcf;
}
* {
  background-color: var(--preto);
  color: var(--branco);
}
/* DIV1 */
#div1 .titulo {
  font-size: 56px;
}
#div1 .botao {
  font-size: 24px;
  background-color: var(--verde);
  border-radius: 12px;
  padding: 5px 56px;
}
/* sobre */
#sobre .chamada {
  font-size: 56px;
}
#sobre .tamanho__img {
  width: 100%;
  border-radius: 12px;
  margin: 0 auto;
}
#sobre .titulo {
  font-size: 36px;
  font-weight: 700;
}
#sobre .texto__sobre {
  font-size: 22px;
  font-weight: 400;
}
/* trabalhos */
#trabalhos .img__chamada {
  width: 100%;
  max-height: 50px;
}
#trabalhos .dim__logo {
  max-height: 50px;
}
#trabalhos .titulo {
  font-size: 56px;
}
#trabalhos .descr__trab {
  font-size: 24px;
  font-weight: 400;
}
#trabalhos .img__trab {
  width: 100%;
  border-radius: 20px;
  max-height: 400px;
}
#trabalhos .work__imgs {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
#trabalhos .tam__proj {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
